.main {
    overflow: hidden;
    &__inner {
        position: relative;
        padding: 100px 0 140px;
    }
    &__img {
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(120px);
    }
    &__title {
        max-width: 920px;
    }
    &__desc {
        max-width: 810px;
        font-size: 24px;
        line-height: 140%;
        margin-top: 34px;
    }
    &__btn {
        width: 302px;
        height: 86px;
        color: #000000;
        font-size: 36px;
        background: #FCC500;
        border-radius: 35px;
        position: relative;
        margin-top: 80px;
        max-width: 100%;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            box-sizing: border-box;
            border: 3px solid #FCC500;
            width: 100%;
            height: 100%;
            border-radius: 35px;
            top: 7px;
            left: 9px;
            z-index: -1;
        }
        &:hover {
            background: #FFF616;
        }
        &:active {
            background: #874CD9;
            color: #FCC500;
        }
    }
}

.advantages {
    padding: 125px 0 35px;
    &__title {
        span {
            &::before {
                background-image: url(../img/decor2.svg);
            }
        }
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__item {
        text-align: center;
        max-width: 490px;
        width: 50%;
        margin-top: 80px;
        &:nth-child(1),
        &:nth-child(2) {
            margin-top: 0;
        }
        &-img {
            width: 250px;
            margin: 0 auto;
            img {
                width: 100%;
                display: block;
            }
        }
        &-title {
            margin-top: 42px;
            font-size: 80px;
            line-height: 140%;
            color: #FCC500;
        }
        &-desc {
            font-size: 30px;
            line-height: 140%;
        }
    }
}

.service {
    padding: 200px 0 130px;
    &__inner {
        position: relative;
    }
    &__arrow {
        top: 0;
        left: 0;
    }
    &__arrow2 {
        top: 100%;
        right: 0;
        transform: translateY(-30px);
    }
    &__arrow,
    &__arrow2,
    &__img1,
    &__img2,
    &__img3 {
        position: absolute;
    }
    &__img1 {
        top: 290px;
        left: 0;
    }
    &__img2 {
        bottom: 80px;
        left: 0;
    }
    &__img3 {
        top: 560px;
        right: 0;
    }
    &__top {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__title {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            z-index: 1;
            width: 224px;
            height: 224px;
            background-image: url(../img/saly.png);
            background-size: 100% auto;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    &__links {
        margin: 110px auto 0;
        width: 900px;
        max-width: 100%;
    }
    &__link {
        height: 150px;
        font-size: 80px;
        color: #FCC500;
        background: rgba(255, 255, 255, 0.1);
        border: 3px solid #874CD9;
        backdrop-filter: blur(10px);
        padding: 0 10px;
        border-radius: 20px;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
        &:hover {
            background: rgba(255, 255, 255, 0.3);
            backdrop-filter: blur(2px);
        }
    }
}

.how-work {
    &__inner {
        position: relative;
    }
    &__title {
        text-align: center;
        span {
            &::before {
                background-image: url(../img/decor3.svg);
            }
        }
    }
    &__items {
        margin: 93px auto 0;
        display: flex;
        flex-wrap: wrap;
        width: 1200px;
        max-width: calc(100% - 50px);
    }
    &__item {
        display: flex;
        align-items: center;
        position: relative;
        span {
            max-width: 345px;
            margin-left: 12px;
            font-size: 24px;
            line-height: 120%;
            text-align: center;
        }
        &:nth-child(1) {
            width: 100%;
            justify-content: center;
            order: 1;
            margin-bottom: 80px;
            .how-work__item-arrow {
                right: 170px;
                top: 20px;
                @media screen and (max-width: 1200px) {
                    right: 110px;
                }
            }
            span {
                max-width: 310px;
            }
        }
        &:nth-child(2) {
            width: 50%;
            order: 3;
            justify-content: flex-end;
            padding-right: 15px;
            .how-work__item-arrow {
                left: 100%;
                top: 90px;
                margin-left: 20px;
                @media screen and (max-width: 1350px) {
                    margin-left: 5px;
                }
            }
        }
        &:nth-child(3) {
            width: 50%;
            justify-content: flex-end;
            order: 5;
            margin-top: 150px;
            .how-work__item-arrow {
                top: 100%;
                right: 170px;
                margin-top: 45px;
                @media screen and (max-width: 1200px) {
                    right: 100px;
                }
            }
        }
        &:nth-child(4) {
            width: 100%;
            justify-content: center;
            order: 6;
            margin-top: 40px;
            .how-work__item-arrow {
                left: 200px;
                bottom: 20px;
                @media screen and (max-width: 1200px) {
                    left: 100px;
                }
            }
        }
        &:nth-child(5) {
            order: 4;
            width: 50%;
            margin-top: 150px;
            span {
                max-width: 405px;
            }
            .how-work__item-arrow {
                bottom: 100%;
                left: 0;
                margin-bottom: 20px;
            }
        }
        &:nth-child(6) {
            width: 50%;
            order: 2;
            padding-left: 70px;
            span {
                max-width: 250px;
            }
        }
        &-arrow {
            position: absolute;
            &-mob {
                display: none;
            }
        }
    }
    &__img {
        position: absolute;
        width: 321px;
        max-height: 321px;
        left: 52%;
        transform: translateX(-50%);
        top: 300px;
    }
}

.contacts {
    padding: 130px 0;
    &__inner {
        position: relative;
    }
    &__title {
        text-align: center;
        span {
            &::before {
                background-image: url(../img/decor3.svg);
            }
        }
    }
    &__wrap {
        display: flex;
        align-items: center;
        padding: 0 80px;
        justify-content: space-between;
        margin-top: 100px;
    }
    &__img {
        width: 560px;
        max-width: 50%;
        margin-right: 20px;
    }
    &__phone {
        font-size: 36px;
        line-height: 120%;
    }
    &__icon {
        position: absolute;
        right: 0;
        top: -5px;
    }
    &__items {
        flex-shrink: 0;
    }
    &__item {
        margin-top: 30px;
        display: flex;
        align-items: center;
        font-size: 36px;
        a {
            padding: 0;
            width: 229px;
            height: 53px;
            border-radius: 26.5px;
            margin-left: auto;
        }
        &--telegram {
            a {
                background: #00AAD0;
                &:hover {
                    background: rgba(#00AAD0, 0.8);
                }
            }
        }
        &--whatsapp {
            a {
                background: #60D13A;
                &:hover {
                    background: rgba(#60D13A, 0.8);
                }
            }
        }
    }
}

@media screen and (max-width: 1400px) {
    .main {
        &__img {
            width: 550px;
            transform: translateX(45px);
        }
        &__title {
            max-width: 800px;
        }
        &__desc {
            max-width: 780px;
            font-size: 22px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .main {
        &__inner {
            padding: 70px 0 100px;
        }
        &__img {
            width: 500px;
        }
        &__title {
            max-width: 750px;
        }
        &__desc {
            max-width: 700px;
            font-size: 20px;
        }
    }
    .advantages {
        &__items {
            display: block;
        }
        &__item {
            margin: 0 auto;
            margin-top: 50px !important;
            width: 100%;
        }
    }
    .service {
        position: relative;
        padding: 130px 0;
        &__arrow {
            left: 11px;
            width: 32px;
        }
        &__arrow2 {
            width: 34px;
            right: 11px;
            transform: translateY(0);
            top: unset;
            bottom: 0;
        }
        &__img1 {
            width: 50px;
        }
        &__img2 {
            bottom: 180px;
            width: 50px;
            left: -10px;
        }
        &__img3 {
            top: 50%;
            transform: translateY(-50%);
            width: 50px;
        }
        &__inner {
            position: static;
        }
        &__title {
            padding-right: 77px;
            &::before {
                width: 77px;
                height: 77px;
                transform: translateY(-50%);
                left: unset;
                right: 0;
            }
        }
        &__links {
            width: 600px;
            margin-top: 70px;
        }
        &__link {
            height: 80px;
            font-size: 36px;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
    .how-work {
        &__img {
            width: 280px;
            max-height: 280px;
            top: 280px;
        }
        &__item {
            span {
                font-size: 20px;
                max-width: 290px;
                margin-left: 3px;
            }
            &:nth-child(5) {
                span {
                    max-width: 330px;
                }
            }
        }
    }
    .contacts {
        &__wrap {
            margin-top: 0px;
            display: block;
        }
        &__img {
            margin: 50px auto;
            max-width: 100%;
            width: 400px;
            display: block;
            @media screen and (max-width: 768px) {
                width: 240px;
            }
        }
    }
}

@media screen and (max-width: 1050px) {
    .main {
        &__inner {
            padding: 0;
        }
        &__img {
            position: static;
            margin: 17px auto 0;
            display: block;
            max-width: calc(100% - 60px);
            transform: translateX(0);
        }
        &__title {
            font-size: 44px;
            line-height: 130%;
        }
        &__desc {
            font-size: 24px;
            line-height: 130%;
            margin-top: 20px;
            max-width: 100%;
        }
        &__btn {
            margin: 74px auto 0;
        }
    }
}

@media screen and (max-width: 992px) {
    .advantages {
        &__top {
            position: relative;
            justify-content: center;
            &-img {
                width: 50px;
                position: absolute;
                top: 100%;
                left: 0;
            }
            &-img2 {
                position: absolute;
                right: 0;
                bottom: 100%;
                margin-bottom: 12px;
            }
        }
        &__item {
            &-img {
                width: 181px;
                img {
                    width: 100%;
                }
            }
            &-title {
                font-size: 48px;
                line-height: 150%;
                margin-top: 20px;
            }
            &-desc {
                font-size: 24px;
                line-height: 150%;
            }
        }
    }
    .how-work {
        &__img {
            position: static;
            margin: 50px auto 0;
            display: block;
            width: 300px;
            max-width: calc(100% - 90px);
            transform: unset;
        }
        &__items {
            margin-top: 50px;
        }
        &__item {
            width: 100% !important;
            margin: 0 0 80px !important;
            justify-content: flex-start !important;
            order: 1 !important;
            &:nth-child(1) {
                margin-top: 0 !important;
            }
            &-arrow {
                display: none;
                &-mob {
                    display: block;
                    position: absolute;
                }
            }
            &-icon {
                width: 20px;
            }
            span {
                max-width: 100% !important;
                text-align: left;
                margin-left: 22px;
            }
            &:nth-child(odd) {
                .how-work__item-arrow-mob {
                    right: 0;
                    top: 100%;
                    margin-top: 5px;
                }
            }
            &:nth-child(even) {
                .how-work__item-arrow-mob {
                    left: 0;
                    top: 100%;
                    margin-top: 15px;
                }
            }
            &:nth-child(6) {
                padding-left: 0;
            }
        }
    }
    .contacts {
        padding: 100px 0;
        position: relative;
        &__inner {
            position: static;
        }
        &__icon {
            right: unset;
            top: 0;
            left: 0;
            width: 100px;
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        &__title {
            font-size: 34px;
        }
    }
    .service {
        &__links {
            width: 320px;
        }
    }
    .contacts {
        &__wrap {
            padding: 0;
        }
        &__phone {
            font-size: 20px;
        }
        &__items {
            max-width: 300px;
            margin: 0 auto;
        }
        &__item {
            font-size: 20px;
            margin-top: 20px;
            &-icon {
                width: 50px;
            }
            a {
                height: 40px;
                width: 140px;
                font-size: 20px;
            }
        }
    }
}